aclocal.m4
autom4te.cache/
missing
configure
install-sh
config.h.in
config.h
Makefile.in
Makefile
config.log
config.status
stamp-h1
*.so
build/
*.o
doc/
*.deps
*.dirstamp
depcomp
test_runner.cc
ylwrap
test-driver
ar-lib
compile

xdr/*.h

#binaries
filter_perf
test

#mac
.DS_STORE
*~
**/.DS_STORE

#lldb
*.dSYM/*

#test wasm
*/tests/wat/*.wasm
