[submodule "xdrpp"]
	path = lib/xdrpp
	url = https://github.com/gramseyer/xdrpp.git
[submodule "merkle_trie_toolkit"]
	path = lib/merkle_trie_toolkit
	url = https://github.com/gramseyer/merkle_trie_toolkit.git
[submodule "m4"]
	path = m4
	url = https://github.com/gramseyer/m4.git
[submodule "lib/utility"]
	path = lib/utility
	url = https://github.com/gramseyer/utility.git
[submodule "lib/lfi"]
	path = lib/lfi
	url = https://github.com/zyedidia/lfi.git
[submodule "lfi_contracts/libc/picolibc"]
	path = lfi_contracts/libc/picolibc
	url = https://github.com/zyedidia/picolibc
